<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312088988951-piilsc01im7d4o7qn1i1bmn3quua2ath.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312088988951-piilsc01im7d4o7qn1i1bmn3quua2ath</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>312088988951-jeep29jukftd9geqmcec6uoass1gm3no.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhBxBjg85NCscIEHcqkHoA8VVQHHs_S4A</string>
	<key>GCM_SENDER_ID</key>
	<string>312088988951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-39f9f</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-39f9f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312088988951:ios:186a4f6009010f8caebb52</string>
</dict>
</plist>